@import 'partials/reset';

$dark-grey: #4D5254;
$white: #FFF;
$yellow: #FED93E;
$green: #2BB509;
$font-color: lighten($dark-grey, 20%);

$small-padding: 20px;
$medium-padding: 30px;
$large-padding: 50px;

$medium-width: 768px;
$large-width: 1024px;

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

*{
  box-sizing: border-box;
}

body{
  background-color: $dark-grey;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
}

.container{
  // border: 1px solid red;
  background-color: $white;
}

.block{
  max-width: 1000px;
  // border: 1px solid green;
  margin: auto;
}

// TYPE

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  text-align: center;
  color: lighten($dark-grey, 20%);
  margin-bottom: $small-padding;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  // text-transform: uppercase;
  // letter-spacing: 1px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 26px;
}

p{
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: $font-color;

  + p{
    margin-top: $small-padding;
  }
}

a{
  color: lighten($dark-grey, 30%);
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover{
    color: $yellow;
    transition: all 0.2s ease;
  }
}

// FORMS

label{
  font-size: 13px;
  font-weight: 300;
  color: $font-color;
  margin-bottom: 4px;
}

input,
textarea{
  display: block;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
  color: $font-color;
  border: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;

  &:focus{
    outline: none;
    border-bottom: 1px solid $dark-grey;
    transition: all 0.2s ease;
  }
}

input[type="text"]{
  line-height: $medium-padding*1.75;
  padding: 0 10px;
}

.input{
  margin-bottom: $small-padding;

  > *{
    display: block;
  }
}

.button-container{
  // background-color: pink;
  height: 59px;
}

button,
a.button{
  padding: $small-padding $small-padding;
  font-size: 15px;
  display: block;
  background-color: $green;
  color: $white;
  text-align: center;
  border-bottom: 4px solid darken($green, 10%);
  // border-radius: 2px;

  &:hover{
    background-color: darken($green, 5%);
    color: $white;
    border-bottom: 1px solid darken($green, 20%);
    transform: translateY(3px);
    // border-top: 3px solid $white;
    // margin-bottom: 3px;
  }

  &:focus{
    outline: none;
  }

  span{
    &:before{
      content: "";
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-right: 5px;
      background-color: pink;
    }
  }
}
// NAV

.nav-container{
  background-color: $white;

  padding: $small-padding*0.5 $small-padding;

  .block{
    max-width: none;
  }
}

nav{
  display: flex;
  flex-flow: row nowrap;

  ul{
    flex: 1 0 auto;
    // background-color: pink;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    li{

      &.user-profile{

        display: none;

        @include medium{
          display: inline-block;
          // background-color: pink;
          font-size: 13px;
          // margin-top: 4px;
          line-height: 13px;
          margin-right: 20px;
          color: $font-color;

          &:before{
            content: " ";
            width: 20px;
            height: 20px;
            display: inline-block;
            background-color: red;
            border-radius: 10px;
            transform: translateY(5px);
            margin-right: 5px;
          }
        }
      }

      a{
        font-size: 13px;
        color: $font-color;
        // background-color: orange;
        display: block;
        margin-top: 9px;

        &:before{
          content: " ";
          display: inline-block;
          width: 10px;
          height: 10px;
          background-color: pink;
          margin-right: 5px;
          transition: all 0.2s ease;
        }

        &:hover{
          &:before{
            background-color: red;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}

// LOGO

.logo{
  flex: 0 0 100px;

  a{
    display: block;
    img{
    }
  }
}

// FOOTER

.footer-container{
  background-color: $dark-grey;
  padding: $small-padding;
  text-align: center;
  font-size: 11px;
}

// PRODUCT PROMOTION

.product-container{
  background-color: darken($dark-grey, 10%);

  @include large{
    z-index: 0;
    position: relative;
  }
  
  .block{
    max-width: none;
    display: flex;
    flex-flow: row wrap;

    @include medium{
      flex-flow: row nowrap;
    }
  }

  .product-image{
    // background-color: pink;
    flex: 0 0 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: $medium-padding;

    @include medium{
      flex: 0 0 50%;
      padding-top: 0;
    }

    @include large{
      padding-top: $large-padding;
    }

    .product-interface{
      // width: 300px;
      width: 100%;
      margin-left: $small-padding;
      margin-right: $small-padding;
      height: 200px;
      // background-color: blue;
      // border: 1px solid blue;
      border: 16px solid $dark-grey;
      background-color: pink;
      // background-color: lighten($dark-grey, 70%);
      border-radius: 5px;
      box-shadow: 0 0 20px rgba(0,0,0, 0.25);
      // margin-top: $medium-padding;

      @include medium{
        // margin-top: 0;
        height: 300px;
        width: 80%;
        max-width: 450px;
      }

      @include large{
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  .product-promotion{
    flex: 0 0 100%;
    // background-color: yellow;
    padding: $small-padding;

    @include medium{
      flex: 0 0 50%;
      padding: 0 $medium-padding $medium-padding;
    }

    @include large{
      padding: $large-padding;
    }

    h2{
      text-align: left;
      font-size: 68px;
      line-height: 80px;
      color: $white;

      @include large{
        max-width: 400px;
        // margin-top: $small-padding;
      }

      span{
        color: $yellow;
      }
    }

    p{
      color: lighten($dark-grey, 40%);
      margin-bottom: $medium-padding;

      @include medium{
        margin-bottom: 0;
      }

      @include large{
        max-width: 400px;
      }
    }
  }
}

.description-container{
  padding: $medium-padding $medium-padding $medium-padding*1.5;

  @include medium{
    // padding: $medium-padding;
  }

  @include large{
    // transform: translateY(-10px);
    padding: $large-padding*1.5;
    z-index: 1;
    position: relative;
    margin-top: -10px;
  }

  .block{
    max-width: 700px;
  }

  .button-container{
    margin-top: $medium-padding;

    @include large{
      margin-top: $large-padding;
    }
  }

  .button{
    max-width: 300px;
    margin: auto;
  }

  p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    margin-bottom: $small-padding;

    @include large{
      margin-bottom: $large-padding;
    }
  }

  h2{
    margin-top: $large-padding;
  }
}

ol.how-does-safeword-work{
  display: flex;
  flex-flow: row wrap;

  @include medium{
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  li{
    border: 1px solid red;
    background-color: pink;
    padding: $small-padding;
    margin: auto;
    height: 200px;
    flex: 0 0 100%;

    @include large{
      flex: 0 0 32%;
    }

    + li{
      margin-top: $small-padding*0.5;

      @include large{
        margin-top: 0;
      }
    }
  }
}

.possible-applications-container{
  background-color: lighten($dark-grey, 60%);
  padding: $medium-padding $medium-padding;

  @include medium{
    padding: $medium-padding;
  }

  @include large{
    padding: $large-padding*1.5;
  }
}

.possible-applications{
  display: flex;
  flex-flow: row wrap;
  margin: $small-padding auto;
  // border: 1px solid $green;
  max-width: 580px;

  @include medium{
    flex-flow: row nowrap;
  }

  ul{
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: row wrap;

    @include medium{
      justify-content: space-between;
    }

    li{
      flex: 0 0 100%;
      padding-left: 51px;
      border: 1px solid $green;
      position: relative;
      line-height: 60px;
      color: $green;
      background-color: lighten($green, 50%);
      margin: 5px 0;
      transition: all 0.2s ease;

      @include medium{
        flex: 0 0 49%;
      }

      @include large{
        z-index: 0;
        position: relative;
      }

      &:before{
        content: " ";
        width: 8px;
        height: 15px;
        border-right: 3px solid #2BB509;
        border-bottom: 3px solid #2BB509;
        display: block;
        position: absolute;
        transform: rotate(45deg) translateX(-5px) translateY(30px);
        transition: all 0.2s ease;
      }

      &:hover{
        background-color: $green;
        color: $white;
        transition: all 0.2s ease;

        &:before{
          border-right-color: $white;
          border-bottom-color: $white;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

// LOGIN

.login-container{
  background-color: lighten($dark-grey, 60%);

  .block{
    padding: $large-padding*1.5 $large-padding;
    max-width: 500px;

    @include medium{
      // padding-top: $large-padding;
      // padding-bottom: $large-padding;
    }
  }
}

// DASHBOARD

.summary-container{
  background-color: $dark-grey;

  .block{
    padding: $small-padding;

    @include medium{
      padding: $small-padding $large-padding;
    }
  }
}

.downloads-container{
  background-color: lighten($dark-grey, 60%);

  .block{
    padding: $large-padding $small-padding;

    @include medium{
      padding: $large-padding $large-padding $large-padding*1.5;
    }
  }
}

@import 'partials/downloads';