<!-- <div class="container summary-container">
  <div class="block">
    <div class="modules">
      <div class="left-modules">
        <label>Last Backup</label>
        <p>Yesterday at 9:54 PM</p>
        <label for="total-backups">Last 30 Days</label>
        <p>26 Backups</p>
      </div>
      <div class="right-modules">
        <h3>Your Security Profile</h3>
        <label for="sms-setting">Phone Number (SMS)</label>
        <p>1-808-123-1234</p>
        <label for="address">Physical Address</label>
        <p>12-123 Ala Moana Blvd.<br>
          Honolulu, HI 96822
        </p>
      </div>
    </div>
  </div>
</div> -->
<div class="container downloads-container">
  <div class="block">
    <h2 class="secure-backups"><span class="lock">{{> lock}}</span>Secure Backups</h2>
    <div id="root" class="application"></div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script type="text/javascript" src="assets/js/dashboard.js"></script>