<div class="container downloads-container">
  <div id="root" class="block">
    <h2>Files</h2>
<!--     <div class="files">
    	<div class="file-info">
    		<p>2017-7-28_04-17.png</p>
    	</div>
    	<div class="file-info">
    		<p>July 29, 2017 3:32:45pm</p>
    	</div>
    	<div class="file-info">
    		<p>2.0 MB</p>
    	</div>
    </div>
    <div class="files">
    	<div class="file-info">
    		<p>2017-7-28_04-17.png</p>
    	</div>
    	<div class="file-info">
    		<p>July 29, 2017 3:32:45pm</p>
    	</div>
    	<div class="file-info">
    		<p>2.0 MB</p>
    	</div>
    </div>
    <div class="files"	>
    	<div class="file-info">
    		<p>2017-7-28_04-17.png</p>
    	</div>
    	<div class="file-info">
    		<p>July 29, 2017 3:32:45pm</p>
    	</div>
    	<div class="file-info">
    		<p>2.0 MB</p>
    	</div>
    </div> -->
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>
<script type="text/javascript" src="assets/js/dashboard.js"></script>