<div class="container login-container">
  <div class="block">
    <h2>Login</h2>
    <div class="input">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="Username">
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password">
    </div>
    <div class="button-container">
      <a href="/dashboard" class="button login-button">
        <span><span class="lock">{{> lock}}</span>Login</span>
      </a>
    </div>
  </div>
</div>