<div class="container product-container">
  <div class="block">
    <div class="product-image">
      <div class="product-interface">
        
      </div>
    </div>
    <div class="product-promotion">
      <h2>Say your <span>SafeWord</span>.</h2>
      <p>Feeling unsafe? Discreetly say your SafeWord to trigger Alexa, SMS for help, and record audio and video of your surroundings.</p>
    </div>
  </div>
</div>
<div class="container description-container">
  <div class="block">
    <h1>How does SafeWord work?</h1>
    <p>Safeword is a new approach to home security. With the simple activation of a custom phrase, Safeword automatically begins video and audio recording while sending out requests for help.</p>
    <ol class="how-does-safeword-work">
      <li>1. Set your personal secure phrase</li>
      <li>2. Activate Safeword</li>
      <li>3. Get help and store video backups</li>
    </ol>
    <div class="button-container">
      <a href="/login-to-safeword" class="button login-button">
        <span class="lock"></span>
        <span><span class="lock">{{> lock}}</span>Login to Your Account</span>
      </a>
    </div>
  </div>
</div>
<div class="container possible-applications-container">
  <div class="block">
    <h2>Possible Applications</h2>
    <div class="possible-applications">
      <ul>
        <li>Domestic Abuse Prevention</li>
        <li>Assistance for the Elderly</li>
        <li>Persistent Campus Security</li>
        <li>Something Else Here.</li>
      </ul>
    </div>
  </div>
</div>
<div class="container features-container">
  <div class="block">
    <h2>Features</h2>
    <div class="features">
      <ul>
        <li>Something Else Here.</li>
        <li>Something Else Here.</li>
        <li>Something Else Here.</li>
      </ul>
    </div>
  </div>
</div>