<div class="container product-container">
  <div class="block">
    <div class="product-image">
      <div class="product-interface">
        hi!
      </div>
    </div>
    <div class="product-promotion">
      <h2>Just Yell Your SafeWord!</h2>
      <p>Feeling unsafe? Yell your SafeWord to call for help &amp; start an audio and video record of your surroundings.</p>
    </div>
  </div>
</div>
<div class="container description-container">
  <div class="block">
    <h1>SafeWord</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, commodi. Rerum ipsa, esse amet! Necessitatibus, quidem animi earum neque voluptatibus excepturi, dolorum doloremque pariatur placeat qui, velit totam, sint rem!</p>
    <h2>Possible Applications</h2>
    <div class="possible-applications">
      <ul>
        <li>Domestic Abuse Prevention</li>
        <li>Assistance for the Elderly</li>
      </ul>
      <ul>
        <li>Persistent Campus Security</li>
        <li>Something Else Here.</li>
      </ul>
    </div>
    <a href="/login-to-safeword" class="button login-button">
      Login
    </a>
  </div>
</div>