<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SafeWord</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=OpenSans:300,400" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
  <div class="container nav-container">
    <div class="block">
      <nav>
        <div class="logo">
          <a href="/"><img src="/assets/media/horizontal-small-text.svg" alt="SafeWord"></a>
        </div>
        <ul>
          <li><a href="/login-to-safeword">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
  {{{template}}}
  <div class="container footer-container">
    <div class="block">
      <a href="https://airshipcms.io">Deployed with Airship CMS</a>
    </div>
  </div>
</body>
</html>